################################################################################

/.vs
**/bin/Debug
**/obj/Debug
/packages

################################################################################
